<div class="postListPage">
    <div class="postsContainer">
        <ul class="postList">
            <%= render partial: 'shared/posts_index', collection: @posts, as: 'post' %>
        </ul>
        <%= paginate @posts%>
    </div>
</div>
