.userWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  border-bottom: 1px solid #000;
}
.username {
  font-size: 2rem;
  margin-bottom: 10px;
}
.userEdit a {
  display: block;
  color: #fff;
  background: #078fd8;
  padding: 15px 50px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.tabMenu {
  width: 100%;
  display: flex;
}
.tabMenu p {
  width: 100px;
  text-align: center;
}
.active {
  border-bottom: 2px #078fd8 solid;
}
.followWrapper {
  display: flex;
}
.followWrapper p {
  margin: 10px;
}

.followPage {
  text-align: center;
}
.followTtl {
  color: #adadad;
  font-size: 3rem;
  margin-top: 100px;
  margin-bottom: 40px;
}
.userTtl {
  margin-top: 20px;
  color: #adadad;
  font-size: 3rem;
  text-align: center;
}
.userList {
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.userItem {
  padding: 20px;
  border-bottom: 1px solid #dad9d9;
  transition: background-color 0.3s ease;
}
.userItem:hover {
  background-color: #dad9d9;
}
.userItem:last-child {
  border-bottom: none;
}
.userItem p {
  text-align: center;
  font-weight: 100;
  font-size: 1.25rem;
}
